@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, label, legend, p, blockquote, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

abbr, acronym {
  border: 0;
}

@font-face {
  font-family: 'Minion Pro';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minion Pro';
  font-weight: italic;
  font-style: italic;
}

body {
  font-family: 'Minion Pro', sans-serif;
  line-height: 1.75em;
  color: black;
  font-size: 15px;
  -webkit-text-size-adjust: none;
}

::selection {
  background: black;
  color: #fff;
}

::-moz-selection {
  background: black;
  color: #fff;
}

p {
  margin-bottom: .75em;
  max-width: 800px;
}

p.lg {
  font-size: 1.5em;
}

a {
  -webkit-transition: color 0.2s ease-in-out, border 0.2s ease-in-out, background 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out, border 0.2s ease-in-out, background 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border 0.2s ease-in-out, background 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, border 0.2s ease-in-out, background 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
  color: black;
}

a:hover {
  border-bottom: 1px solid black;
}

p a {
  border-bottom: 1px solid #959595;
}

p a:hover {
  border-bottom: 1px solid black;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
textarea {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid black;
  background: transparent;
}

input[type=text]:active,
input[type=email]:active,
input[type=password]:active,
input[type=number]:active,
textarea:active,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
textarea:focus {
  border-color: black;
}

.button,
input[type=submit],
button {
  -webkit-transition: color 0.2s ease-in-out, border 0.2s ease-in-out, background 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out, border 0.2s ease-in-out, background 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border 0.2s ease-in-out, background 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, border 0.2s ease-in-out, background 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 40px;
  line-height: 1em;
  padding: 10px;
  text-align: center;
  color: #fff;
  background: black;
  border: 1px solid black;
  border-bottom: 1px dotted #8C7459;
}

.button:hover,
input[type=submit]:hover,
button:hover {
  border-color: black;
  background: black;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: #8C7459;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 150%;
  height: auto;
  -webkit-transition: opacity;
  -moz-transition: opacity;
  -ms-transition: opacity;
  -o-transition: opacity;
  -webkit-backface-visibility: hidden;
}

a {
  color: #8C7459;
}

a:hover img {
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

.container {
  width: 90%;
  margin: 5% 5% 0 5%;
}

.container.foundation-wrap {
  width: 96%;
  margin: 0 2% 0 2%;
}
@media only screen and (min-width: 900px) {
  .container.foundation-wrap {
    width: 70%;
    max-width: 1200px;
    margin: 0 5% 0 25%;
  }
}

.quote-overlay {
  z-index: 4;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background: #fff;
  opacity: 1;
  visibility: visible;
  // -webkit-transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
  // -moz-transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
  // -ms-transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
  // -o-transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
  // -webkit-backface-visibility: hidden;
  // -webkit-animation-name: fadeOut;
  // -moz-animation-name: fadeOut;
  // -o-animation-name: fadeOut;
  // -webkit-animation-duration: 1s;
  // -moz-animation-duration: 1s;
  // -o-animation-duration: 1s;
  // -webkit-animation-delay: 7s;
  // -moz-animation-delay: 7s;
  // -o-animation-delay: 7s;
  // -webkit-animation-iteration-count: 1;
  // -moz-animation-iteration-count: 1;
  // -o-animation-iteration-count: 1;
  // -webkit-animation-fill-mode: forwards;
  // -moz-animation-fill-mode: forwards;
  // -o-animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@-moz-keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@-o-keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.quote-wrap {
  display: table;
  width: 100%;
  height: 100%;
}

.quote {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #8C7459;
}

.quote blockquote {
  margin: 0 auto;
  min-width: 360px;
  font-size: 40px;
  line-height: 1.2em;
  margin-bottom: 2%;
}

@media only screen and (min-width: 481px) and (max-width: 985px) {
  .quote blockquote {
    font-size: 36px;
    margin: -60px auto 2%;
  }
}

@media only screen and (max-width: 480px) {
  .quote blockquote {
    font-size: 34px;
  }

  .hearst-logo {
    margin: 60px auto 25px !important;
  }
}

@media only screen and (min-width: 1110px) and (max-width: 1230px) {
  .hearst-logo {
    margin: 45px auto 25px !important;
  }
}

.quote .author {
  margin: 0 auto;
  max-width: 20%;
  font-size: 20px;
  line-height: 1.5em;
  text-transform: uppercase;
}

.quote .source {
  margin: 0 auto;
  max-width: 20%;
  display: block;
}

.sidebar-left {
  margin: 10% 10%;
}
@media only screen and (min-width: 1024px) {
  .sidebar-left {
    z-index: 5;
    margin-left: 5%;
    position: fixed;
    top: 9%;
  }
}

@media only screen and (max-width: 1110px) {
  .sidebar-left {
    display: table;
    margin: 25px auto 0;
    position: relative;
    text-align: center;
    top: 23%;

    .logo {
      width: 300px !important;
    }

    img {
      max-width: 100%;
    }
  }

  #content {
    position: relative;

    .quote-overlay {
      position: absolute;
    }
  }
}

@media only screen and (min-width: 985px) and (max-width: 1110px) {
  .quote-overlay {
    top: auto;
  }
}

@media only screen and (max-width: 985px) {
  .quote-overlay {
    top: 0;
  }
}

.sidebar-left .logo {
  width: 200px;
  height: 77px;
  display: block;
  background-size: 100% 100%;
}

.sidebar-left .logo:hover {
  border-bottom: 0;
}

.register-link {
  text-transform: uppercase;
  border-bottom: 1px dotted #8C7459;
}

.sidebar-left p {
  margin-top: 10px;
  max-width: 170px;
  font-size: 14px;
  color: #8C7459;
  line-height: 1.5em;
}

.sidebar-right {
  color: #8E9090;
  z-index: 3;
  margin-right: 5%;
  position: fixed;
  top: 50%;
  right: 0;
  text-align: right;
  margin-top: -90px;
}

.contact-form {
  text-align: center;
  margin: 15% auto 0;
  max-width: 25%;
  min-width: 320px;
  margin-bottom: 4%;
}

.contact-form label, .contact-form input, .contact-form textarea {
  text-align: left;
  display: block;
  width: 100%;
}

.contact-form label {
  color: #8E9090;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.contact-form input, .contact-form textarea {
  border: 2px #8E9090 solid;
  margin-bottom: 20px;
  padding: 7px 6px 6px;
}

.contact-form input[name=phone], .contact-form input[name=city], .contact-form input[name=broker] {
  border: 2px #8F857B solid;
}

.contact-form textarea {
  border: 2px #8C7459 solid;
  min-height: 100px;
  resize: none;
}

.contact-form input[type=submit] {
    width: auto;
    height: auto;
  background: none;
  border: none;
  color: #8C7459;
  display: inline-block;
  border-bottom: 1px dotted #8C7459;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0px;
               margin: 0px;
}

.contact-form p {
  font-size: 24px;
}

.about {
  margin: 2% auto;
  margin-bottom: 15%;
  font-size: 24px;
  line-height: 1.4em;
}
@media only screen and (min-width: 750px) {
  .about {
    max-width: 25%;
  }
}

.address-info {
  margin: 2% auto 0;
  font-size: 16px;
  line-height: 1.4em;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 750px) {
  .address-info {
    max-width: 25%;
  }
}

.foundation {
  position: relative;
}

.building {
  width: 104px;
  margin: 40px auto 0;
}
@media only screen and (min-width: 750px) {
  .building {
    width: 208px;
  }
}

.building div {
  display: inline-block;
  margin-right: -0.25em;
  background: #000;
  min-height: 10px;
  vertical-align: bottom;
  width: 4px;
  margin-left: 4px;
}
@media only screen and (min-width: 750px) {
  .building div {
    width: 8px;
    margin-left: 8px;
  }
}

.building .one {
  height: 1215px;
  background: #8e9090;
  margin-bottom: 163px;
}

.building .two {
  height: 1692px;
  background: #8e9090;
  margin-bottom: 163px;
}

.building .three {
  height: 1975px;
  background: #8e9090;
  margin-bottom: 163px;
}

.building .four {
  height: 2164px;
  background: #8e9090;
  margin-bottom: 163px;
}

.building .five {
  height: 2314px;
  background: #8e857b;
  margin-bottom: 163px;
}

.building .six {
  height: 2423px;
  background: #8e857b;
  margin-bottom: 163px;
}

.building .seven {
  height: 2400px;
  background: #8e857b;
  margin-bottom: 300px;
}

.building .eight {
  height: 2506px;
  background: #8e857b;
  margin-bottom: 300px;
}

.building .nine {
  height: 2578px;
  background: #8e857b;
  margin-bottom: 300px;
}

.building .ten {
  height: 2538px;
  background: #8c7459;
  margin-bottom: 414px;
}

.building .eleven {
  height: 2616px;
  background: #8c7459;
  margin-bottom: 414px;
}

.building .twelve {
  height: 2699px;
  background: #8c7459;
  margin-bottom: 414px;
}

.building .thirteen {
  height: 2873px;
  background: #8c7459;
  margin-bottom: 414px;
}

.comparison-places > div {
  width: 100%;
  height: 24px;
  position: absolute;
  left: 0;
  right: 0;
  margin-bottom: -10px;
}

.comparison-places div .feet {
  float: left;
  background: #fff;
  padding: 0 10px 0 0;
  position: relative;
  font-size: 13px;
}
@media only screen and (min-width: 750px) {
  .comparison-places div .feet {
    font-size: 16px;
  }
}

.comparison-places div .feet span {
  height: 3px;
  width: 28px;
  background: #8e9090;
  display: inline-block;
  margin: 2px 0 3px 8px;
}

.comparison-places div .info {
  font-size: 13px;
  line-height: 1.2em;
  float: right;
  text-align: left;
  background: #fff;
  padding: 0 0 0 5px;
  color: #8C7459;
}
@media only screen and (min-width: 750px) {
  .comparison-places div .info {
    font-size: 16px;
    padding: 0 10px;
  }
}

.comparison-places div .info span {
  color: #8E9090;
  display: block;
  font-size: 12px;
}
@media only screen and (min-width: 750px) {
  .comparison-places div .info span {
    display: inline-block;
  }
}

.comparison-places div .info span span {
  display: none;
}
@media only screen and (min-width: 750px) {
  .comparison-places div .info span span {
    display: inline-block;
  }
}

.comparison-places hr {
  position: absolute;
  border: none;
  border-bottom: 1px #ccc dotted;
  width: 100%;
  margin: 0;
  padding-bottom: 11px;
  z-index: -1;
}

footer {
  width: 90%;
  margin: 0 5% 40px;
  float: left;
  display: none;
}
@media only screen and (min-width: 750px) {
  footer {
    display: block;
  }
}

.credits {
  font-size: 14px;
  line-height: 16px;
  float: left;
}

.foot2 {
  margin-top: 20px;
  font-size: 12px;
  line-height: 12px;
}

.legal p {
  font-size: 10px;
  line-height: 10px;
  float: right;
  width: 200px;
  margin-right: 10px;
  text-align: justify;
  color: white;
  -webkit-transition: color 300ms ease-in-out;
  -moz-transition: color 300ms ease-in-out;
  -ms-transition: color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out;
  -webkit-backface-visibility: hidden;
}

.legal span {
  font-size: 14px;
  float: right;
  cursor: pointer;
}

.legal:hover p {
  color: #8C7459;
}

.base {
  display: block;
  position: absolute;
  bottom: 0;
  margin-left: -102px;
  width: 252px;
  height: 500px;
}
@media only screen and (min-width: 750px) {
  .base {
    display: block;
  }
}
@media only screen and (min-width: 750px) {
  .base {
    width: 550px;
    margin-left: -254px;
  }
}
.base span {
  border-width: 4px;
  border-color: #8c7459;
  display: block;
  position: absolute;
}
@media only screen and (min-width: 750px) {
  .base span {
    border-width: 8px;
  }
}
.base .lsquare {
  height: 418px;
  width: 89px;
  left: 17px;
  bottom: 0;
  border-top-style: solid;
  border-left-style: solid;
}
@media only screen and (min-width: 750px) {
  .base .lsquare {
    width: 208px;
    left: 54px;
  }
}
.base .rsquare {
  height: 418px;
  width: 50px;
  right: 0;
  bottom: 0;
  border-top-style: solid;
  border-right-style: solid;
}
@media only screen and (min-width: 750px) {
  .base .rsquare {
    width: 101px;
  }
}
.base .bottom {
  z-index: 1;
  width: 29px;
  left: -8px;
  bottom: 0;
  height: 200px;
  background: white;
  border-top-style: solid;
  border-left-style: solid;
}
@media only screen and (min-width: 750px) {
  .base .bottom {
    width: 58px;
    left: 4px;
  }
}
.base .top {
  top: 52px;
  background: white;
  z-index: 1;
  left: 30px;
  width: 49px;
  height: 34px;
  border-left-style: solid;
  border-right-style: solid;
}
@media only screen and (min-width: 750px) {
  .base .top {
    width: 98px;
    height: 54px;
    top: 36px;
    left: 90px;
  }
}
.base .roof {
  top: 35px;
  left: 36.6px;
  width: 35px;
  height: 35px;
  border-left-style: solid;
  border-top-style: solid;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media only screen and (min-width: 750px) {
  .base .roof {
    width: 70px;
    height: 70px;
    top: 0;
    left: 104.6px;
  }
}

.hearst-logo {
  display: table;
  margin: 25px auto;
  position: relative;
  z-index: 100;
}
